@font-face {
    font-family: 'Circular-Black';
    src: url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-Med';
    src: url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Bold';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Book';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

img:not(.nav-header){
	width: 138.9px;
	height: 138.9px;
	margin: 0px;
	display: block;
}

img:active{
	width: 138.9px;
	height: 138.9px;
	margin: 0px;
	display: block;
	padding:0px;
	outline: 0;
	position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

img.nav-header {
	width: auto;
	height: auto;
}

.quanta {
	width: 137px;
	height: 51px;
	font-family: Circular-Bold;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.28;
	letter-spacing: normal;
	text-align: left;
	color: #0f0f0f;
	position: absolute;
	top: 21px;
	left: 138px;
}

.bbq {
	width: 48px;
	height: 30px;
	font-family: Circular-Book;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #0f0f0f;
	position: absolute;
	top: 36px;
	left: 309px;
}

.biodata {
	width: 82px;
	height: 30px;
	font-family: Circular-Book;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #0f0f0f;
	position: absolute;
	top: 36px;
	left: 386px;
}

.gallery {
	width: 78px;
  	height: 30px;
  	font-family: Circular-Book;
  	font-size: 24px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.25;
  	letter-spacing: normal;
  	text-align: left;
  	color: #0f0f0f;
	position: absolute;
	top: 36px;
	left: 495px;
}

.quanta:hover, .quanta:visited, .quanta:link, .quanta:active{
	color:#0f0f0f;
	text-decoration: none;
}

.bbq:hover, .bbq:visited, .bbq:link, .bbq:active{
	color:#0f0f0f;
	text-decoration: none;
}

.gallery:hover, .gallery:visited, .gallery:link, .gallery:active{
	color:#0f0f0f;
	text-decoration: none;
}

.biodata:hover, .biodata:visited, .biodata:link, .biodata:active{
	color:#0f0f0f;
	text-decoration: none;
}

#nav-btn {
	width: 559px;
	height: 129px;
	font-family: Circular-Bold;
	font-size: 102px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.26;
	letter-spacing: normal;
	text-align: left;
	color: #161743;
	position: absolute;
	top: 264px;
	left: 140px;
}

#dropdownMenuButton {
	background-color: white;
	color: black;
	width: 122.6px;
	height: 37.4px;
	border-radius: 25px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	font-family: Circular-Book;
}

.dropdown-item {
	font-family: Circular-Book;
	font-size: 14px;
}

.column {
  float: center;
  width: 33.33%;
  padding: 5px;
  top: 431px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  top: 431px;
}

button {
	width: 150px;
	height: 150px;
	float: center;
	background-color:white;
	color: magenta;
	font-size: 20px;
	border-radius: 20px;
	margin: 0px;
    padding: 0px;
}

button:active {
	border: thin #c7d3d6 solid;
    outline: 0 !important;
	padding: 0px;
}

span {
	padding: 0px;
	margin-left: 140px;
	margin-top: 120px;
}

span:active {
	outline: 0;
	padding: 0px;
}

button:active span, button:focus span {
    position:relative;
    top: 0;
    left: 0;
}

#a1:active {
	margin:0px;
	padding:0px;
}

#a2:active {
	margin:0px;
	padding:0px;
}

#a2:active {
	margin:0px;
	padding:0px;
}

#a3:active {
	margin:0px;
	padding:0px;
}

#a4:active {
	margin:0px;
	padding:0px;
}

#a5:active {
	margin:0px;
	padding:0px;
}

#a6:active {
	margin:0px;
	padding:0px;
}

#a7:active {
	margin:0px;
	padding:0px;
}

#a8:active {
	margin:0px;
	padding:0px;
}

#a9:active {
	margin:0px;
	padding:0px;
}